@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34; /* A slightly softer black */
  --background-start-rgb: 240, 248, 255; /* Alice Blue */
  --background-end-rgb: 224, 255, 255; /* Light Cyan */
  --accent-color-rgb: 52, 152, 219; /* A vibrant blue for accents */
  --highlight-color-rgb: 46, 204, 113; /* A fresh green for highlights */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  /* font-family: sans-serif; */
}

a {
  color: rgb(var(--accent-color-rgb));
}

button {
  background-color: rgb(var(--highlight-color-rgb));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darken(rgb(var(--highlight-color-rgb)), 10%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
