@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 34, 34, 34; /* A slightly softer black */
  --background-start-rgb: 240, 248, 255; /* Alice Blue */
  --background-end-rgb: 224, 255, 255; /* Light Cyan */
  --accent-color-rgb: 52, 152, 219; /* A vibrant blue for accents */
  --highlight-color-rgb: 46, 204, 113; /* A fresh green for highlights */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, rgb(var(--background-start-rgb)), rgb(var(--background-end-rgb)));
  /* font-family: sans-serif; */
}

a {
  color: rgb(var(--accent-color-rgb));
}
/* 
button {
  background-color: rgb(var(--highlight-color-rgb));
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darken(rgb(var(--highlight-color-rgb)), 10%);
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* .nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: white;
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
} */

.nav-link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-link:hover::after {
  width: 100%;
}

@media (min-width: 640px) {
  .nav-link::after {
    transition: width 0.3s ease-in-out;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .purple {
    background-color: rgb(143, 90, 220);
    color: white;
    border-radius: 4px;

  }

  .purple-text {
    color: rgb(143, 90, 220)
  }

  @keyframes showWord {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .form-animation {
    /* display: inline-block; */
    opacity: 0;
    animation: showWord 0.9s forwards;
  }
  
  .word-animation {
    display: inline-block;
    opacity: 0;
    animation: showWord 0.9s forwards;
  }
  
  .word-delay-1 {
    animation-delay: 0.2s;
  }
  
  .word-delay-2 {
    animation-delay: 0.4s;
  }
  
  .word-delay-3 {
    animation-delay: 9s;
  }
  
  .word-delay-4 {
    animation-delay: 2s;
  }

  .form-delay {
    animation-delay: 0.5s;
  }


}
